body {
    margin: 0;
    padding: 0;
}

#board {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("background-ocean.jpg");
    background-size: 100% 100%; /* force it to stretch */
    background-position: center;
    background-repeat: no-repeat;
    /* Removed invalid line: 'back 20;' */
}

#score-container {
    position: absolute;
    padding: 0.5vh 3vw;
    font-size: 26px;
    background-color: aquamarine;
    right: 0;
    top: 0;
}

#player {
    background-color: salmon;
    position: absolute;
    background-image: url("turtle.png");

}

.wave {
    background-color: rgb(197, 219, 225);
    position: absolute;
    background-image: url("cean-waves.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


#PageGameover {
    text-align: center;
    background-color: rgb(31, 186, 228);
}