#score {
    margin-bottom: 40px;
    height: 20px;
    width: 20px;
    background-color: aquamarine;
    position: relative;
}

#board {
    width: 95vw;
    height: 800px;
    background-color: rgb(100, 139, 236);
    border-right: 100px solid rgba(239, 225, 114, 0.955);
    margin-top: 30px;
    position: relative;
    /*this allows the player inside the board */
}

#player {
    width: 80px;
    height: 80px;
    background-color: salmon;
    position: absolute;
    /*this allows the player inside the board */
    border-radius: 30%;
    /* This makes it a circle */
    bottom: 50px;
    left: 20px
}
.newWave {
    width: 20px;
    height: 80px;
    background-color: rgb(197, 219, 225);
    position: absolute; /*this allows the player inside the board */
    top: 400px;
    right: 50px;

}
.lionFish {
    width: 40px;
    height: 40px;
    background-color: rgb(20, 1, 1);
    position: absolute; /*this allows the player inside the board */
    border-radius: 50%;
    top: 50px;
    right: 20px;

}